.heading-lg {
  font-size: 4rem;
  line-height: 77px;
  font-weight: 700;
}

.heading-md {
  font-size: 1.5rem;
  line-height: 29px;
  font-weight: 400;
}

.heading-sm {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 400;
}

.body-md {
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: 400;
}

.body-sm {
  font-size: 0.875rem;
  line-height: 17px;
  font-weight: 400;
}
